<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Royal Vending</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"><img src="/images/logo.png" alt=""></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="/">Servicios</a></li>
                            <li class="submenu">
                                <a href="/">Nuestros Equipos</a>
                                <ul>
                                    <li><a href="">Bebidas Calientes</a></li>
                                    <li><a href="">Bebidas Frias</a></li>
                                    <li><a href="">Minibank</a></li>
                                    <li><a href="">Snacks</a></li>
                                    <li><a href="">Agua</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="/">FAQs</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area header-equipos" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text ">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-12 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1><strong>Equipos</strong></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor risus porttitor facilisis euismod.</p>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Equipos Start ***** -->
    <section class="section" id="faqs">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Snacks</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-heading">
                        <p>Vivamus venenatis eu mi ac mattis. Maecenas ut elementum sapien. Nunc euismod risus ac lobortis congue. Sed erat quam.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            <div class="row equipos">
                <div class="col-lg-4 col-md-5 col-sm-11">
                    <img src="/images/equipos/equipo.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eveniet!</p>
                    <a href="/equipos/detail/1" class="main-button">Ver Detalle</a>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-11">
                    <img src="/images/equipos/equipo.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eveniet!</p>
                    <a href="#" class="main-button">Ver Detalle</a>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-11">
                    <img src="/images/equipos/equipo.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eveniet!</p>
                    <a href="#" class="main-button">Ver Detalle</a>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-11">
                    <img src="/images/equipos/equipo.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eveniet!</p>
                    <a href="#" class="main-button">Ver Detalle</a>

                </div>
            </div>
        </div>
    </section>
    <!-- ***** Equipos End ***** -->


    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <!-- ***** Contact Map Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="map">
                      <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.9609576043545!2d-58.53072828459481!3d-34.5038740597293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0f461ba0cad%3A0x279668a600b41fe0!2sR%C3%ADo%20de%20Janeiro%202150%2C%20B1640DQB%20Mart%C3%ADnez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1624333487572!5m2!1ses!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <!-- ***** Contact Map End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Nombre" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="surname" type="text" id="surname" placeholder="Apellido" required="" class="contact-field">
                                </fieldset>
                              </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="company" type="text" id="company" placeholder="Empresa" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="number" id="phone" placeholder="Telefono" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                                </fieldset>
                              </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Mensaje" required="" class="contact-field"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Enviar</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-footer">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; Royal Vending</p>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

  </body>
</html>