<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logos/ij-logo.jpeg" />


    <title>Royal Vending</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"><img src="/images/logo1.png" alt=""></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#about2">Servicios</a></li>
                            <li class="submenu">
                                <a href="#services">Nuestros Equipos</a>
                                <ul>
                                    <li><a href="/equipos/1">Bebidas Calientes</a></li>
                                    <li><a href="/equipos/2">Bebidas Frias</a></li>
                                    <li><a href="/equipos/3">Minibank</a></li>
                                    <li><a href="/equipos/4">Snacks</a></li>
                                    <li><a href="/equipos/5">Agua</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#clients">Clientes</a></li>
                            <li class="scroll-to-section"><a href="#faqs">FAQs</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>El mejor servicio integral de <strong>vending</strong>  para tu empresa </h1>
                        <p>Bebidas calientes, frías y snacks para tu equipo de trabajo
                        </p>
                        <a href="#about" class="main-button-slider">Conocénos</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="/images/welcome-img.jpg" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic" style="border-radius: 20px!important">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="/images/about-img.jpg" class="rounded img-fluid d-block mx-auto" alt="App" style="border-radius: 20px!important">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5><strong>Quienes Somos</strong></h5>
                        <h2>Por que contratar Royal Vending</h2>
                    </div>
                    <div class="left-text">
                        <p>Contando con casi 30 años de experiencia en servicio integral de vending, ofrecemos alimentos y bebidas de primeras marcas nacionales e internacionales a través de máquinas expendedoras automáticas e importadas de última generación. <br>
                        Contamos con personal capacitado para el mantenimiento y reposición de nuestros equipos, así como un centro de atención al cliente, utilizando Sistemas informáticos que nos permiten estar al tanto del estado de todos nuestros equipos en todo momento para garantizar los mayores estándares de calidad en el servicio. <br>
                        Hacemos uso de los sistemas de pagos más versátiles para brindar mayor facilidad al usuario.</p>
                        <a href="/quienesSomos" class="main-button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row about2-main-container">
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h2>Modelos de Contratacion</h2>
                    </div>
                    <p>Hacemos uso de los sistemas de pagos más versátiles para brindar mayor facilidad al usuario.</p>
                    <div class="underline-container">
                        <h3 class="dUnderline">Consumo a cargo de la empresa</h3>
                    </div>
                    <ul class="about-container row">
                        <li class="col-lg-4 col-md-12 col-sm-12">  
                            <div class="img-about-container">
                                <img src="/images/icons/unlock.png" alt="">
                            </div>                          
                            <div class="text">
                                <h6>Consumo libre</h6>
                                <p>La erogación del servicio es a través de la modalidad botón libre. Se factura según contadores o una tarifa plana previamente acordada.</p>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-12 col-sm-12">                            
                            <div class="img-about-container">
                                <img src="/images/icons/credit-card.png" alt="">
                            </div>        
                            <div class="text">
                                <h6>Llaves o tarjeta electronica</h6>
                                <p>Se acuerda un monto de carga en cada llave. La empresa contratante abona mensualmente el crédito acordado por cada llave. </p>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-12 col-sm-12">                            
                            <div class="img-about-container">
                                <img src="/images/icons/money.png" alt="">
                            </div>                            
                            <div class="text">
                                <h6>Consumo subvencionado parcialmente</h6>
                                <p>El empleado tiene acceso a los productos a precios menores a los del mercado, pues el costo final se encuentra subvencionado por su empresa. </p>
                            </div>
                        </li>
                    </ul>
                    <div class="underline-container">
                        <h3 class="dUnderline">A cargo del consumidor</h3>
                    </div>
                    <ul class="about-container row">
                        <li class="col-lg-4 col-md-12 col-sm-12">    
                            <div class="img-about-container">
                                <img src="/images/icons/qr-code.png" alt="">
                            </div>                                                    
                            <div class="text">
                                <h6>Codigo QR</h6>
                                <p>El usuario es quien abona su propio consumo a traves de mercado pago.</p>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-12 col-sm-12">                            
                            <div class="img-about-container">
                                <img src="/images/icons/cash.png" alt="">
                            </div>                            
                            <div class="text">
                                <h6>Efectivo</h6>
                                <p>El usuario es quien abona su propio consumo en billetes.</p>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-12 col-sm-12">                            
                            <div class="img-about-container">
                                <img src="/images/icons/credit.png" alt="">
                            </div>                            
                            <div class="text">
                                <h6>Tarjetas</h6>
                                <p> El usuario es quien abona su propio consumo a través de los postnet en máquina.</p>
                            </div>
                        </li>
                    </ul>
                    <div class="about-btn-container">
                        <a href="#contact" class="main-button">Contáctanos</a>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="/images/iconservice1.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Bebidas Calientes</h5>
                        <p>El café en grano Santos Bourbon de Brasil, importado en crudo y tostado días previos al envío. Los productos solubles son provistos por Nestlé, y el azúcar es provista por Ledesma.</p>
                        <a href="#" class="main-button">Ver Equipos</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="/images/iconservice.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Bebidas Frias</h5>
                        <p>Trabajamos con productos de primera calidad como Coca Cola, Smart Water, Aquarius, Powerade, Cepita y muchos más. </p>
                        <a href="#" class="main-button">Ver Equipos</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="/images/vending.svg" alt=""></i>
                        </div>
                        <h5 class="service-title">MiniBank</h5>
                        <p>Otorgamos la mejor combinación de productos,calientes, fríos, snacks!
                        </p>
                        <a href="#" class="main-button">Ver Equipos</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="/images/snack.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Snacks</h5>
                        <p>Ofrecemos gran variedad de productos de primeras marcas Cadbury, Cerealitas, Beldent, Oreo, Zafran, sandwiches Individuales, tartas y empanadas Don Antonio, entre otros.  
                        </p>
                        <a href="#" class="main-button">Ver Equipos</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="/images/iconservice4.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Agua</h5>
                        <p>Ofrecemos dispensers modernos, ofreciendo agua natural potable junto a Aqualine.
                        </p>
                        <a href="#" class="main-button">Ver Equipos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


        <!-- ***** Clients Section Start ***** -->
        <section class="section clients" id="clients">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Clientes</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="section-heading">
                            <p>Vivamus venenatis eu mi ac mattis. Maecenas ut elementum sapien. Nunc euismod risus ac lobortis congue. Sed erat quam.</p>
                        </div>
                    </div>
                    <div class="clients-img">

                        <% for(let i = 0 ; i < 30 ; i++) {%> 
                            <img src="/images/logos/logo<%= i+1 %>.png" alt="" >
                        <% } %> 
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
            </div>
        </section>


    <!-- ***** Frequently Question Start ***** -->
    <section class="section" id="faqs">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Preguntas Frecuentes</h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row display-flex justify-content-center">
                
                <div class="col-lg-10 col-md-10 col-sm-12 ">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>¿Qué necesito saber a la hora de contratar el servicio de Royal Vending?
                                </span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Hay que saber que la máquina requiere de un espacio físico dedicado para el mismo. Como regla general, los equipos necesitan una conexión eléctrica y si se trata de un equipo con conexión a la red de agua, sería  necesaria una llave de paso.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span> ¿Qué tengo que averiguar sobre la empresa de vending?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>En Royal Vending consideramos de suma importancia mantener excelentes relaciones tanto con los clientes como con los proveedores. Para lograrlo, en Royal Vending nos abocamos a cumplir con las exigencias de cada eslabón de la cadena de valor. Por ello, a la hora de contratar una empresa de vending creemos que es muy importante tener en cuenta la cartera de clientes, las referencias comerciales y la antigüedad. Así mismo, también se debe tener en cuenta la calidad de productos, la periodicidad propuesta para la visita de los equipos y su respectivo mantenimiento. 
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>¿Con qué proveedores trabaja Royal Vending?
                                </span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Para asegurar un servicio de excelencia, trabajamos con máquinas importadas de última generación, siguiendo normas ecológicas internacionales. Los insumos son provistos por compañías líderes como los granos Santos Bourbon de Brasil, Nestlé, Ledesma, Coca Cola, Arcor, Mondelez, Zafran, etc. 
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>¿Cómo puedo saber el costo del servicio?
                                </span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>En Royal Vending consideramos que la mejor forma de otorgar un servicio de excelencia es conociendo al cliente. Por ello es que recomendamos comenzar por una cotización, teniendo en cuenta puntos claves como por ejemplo la cantidad de personas a las que se le otorgará el servicio, las ubicaciones de las máquinas, entre otros. 
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Frequently Question End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <!-- ***** Contact Map Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="map">
                      <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.9609576043545!2d-58.53072828459481!3d-34.5038740597293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0f461ba0cad%3A0x279668a600b41fe0!2sR%C3%ADo%20de%20Janeiro%202150%2C%20B1640DQB%20Mart%C3%ADnez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1624333487572!5m2!1ses!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <!-- ***** Contact Map End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <h1 class="contact-title">Contactate con Royal Vending</h1>
                        <form id="contact" action="https://formspree.io/f/xeqvrvev" method="POST">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Nombre" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="surname" type="text" id="surname" placeholder="Apellido" required="" class="contact-field">
                                </fieldset>
                              </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="company" type="text" id="company" placeholder="Empresa" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="number" id="phone" placeholder="Telefono" required="" class="contact-field">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                                </fieldset>
                              </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Mensaje" required="" class="contact-field"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Enviar</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-footer">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; Royal Vending</p>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

  </body>
</html>